body{
    background-color:darkslategrey;
    color:white;
}
h1{
    text-align:center;
}
p{
    width:80%;
    margin:auto;
    font-size:20px;
    color:yellow;
    text-align:justify;
    line-height:1.5;
}